.hero {
  height: 420px;
  background-image: url("../../assets/images/banner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 8rem;
  padding-left: 4rem;
  background-color: #ffffff;
}

.hero-content {
  width: 40%;
  color: #ffffff;
  line-height: 24px;
}

.hero-content h2 {
  margin-bottom: 0.5rem;
}

.hero-content p:nth-child(2) {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
