.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 278px;
  color: #808080;
  font-size: 13px;
}

.column-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-service {
  width: 133px;
  background-color: transparent;
  border: 1px solid #808080;
  color: #808080;
  padding: 10px 0;
  cursor: pointer;
}
